//include includes/header
head
  link(href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet")  
body
  .container
    .left
      .results
    .right
      h1#title WikiViewer
      input#searchbox(type="text" placeholder = "Search Wikipedia")
      br
      button#random
        a#a(href="https://en.wikipedia.org/wiki/Special:Random",target="_blank") Random
