//include includes/header
<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700" rel="stylesheet" type="text/css">
body
  .container
    h1 WikiViewer
    input.form-input#searchbox(type="text")
    br
    button.btn.btn-large#random
      a#a(href="https://en.wikipedia.org/wiki/Special:Random",target="_blank") Random
    .results
